/*
CSS Credit: http://www.templatemo.com/
*/

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.5em;
	background-color: #cdeeff;
	background-image: url(images/templatemo_body.jpg);
	background-repeat: repeat-x;
	background-position: top;
}

a, a:link, a:visited {text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0px; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #183544; }
h1 { font-size: 40px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 30px 0; padding: 0; }
h2 span { font-weight: bold; }
h3 { font-size: 21px; margin: 0 0 15px 0; padding: 0; padding: 0; color: #000; font-weight: normal; }
h4 { font-size: 18px; margin: 0 0 15px 0; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px 0; padding: 0; color: #333; }
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; color: #333; }

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }
.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }


.float_l { float: left; }
.float_r { float: right; }

.image_wrapper { display: inline-block; border: 5px solid #fff; background: none; margin-bottom: 10px; }
.image_fl { float: left; margin: 3px 15px 0 0; }
.image_fr { float: right; margin: 3px 0 0 15px; }

blockquote { font-style: italic; margin-left: 10px;}
cite { font-weight: bold; color:#3b3823; }
cite span { color: #696443; }
em { color: #000; }

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none; }
.tmo_list li { background: transparent url(images/templatemo_list.png) no-repeat scroll 0 0px; margin:0 0 20px; padding: 0 0 0 20px; 	line-height: 0.8em; }
.tmo_list li a { color: #fff; }
.tmo_list li a:hover { color: #ff4301; }

.btn_more a {
	display: block;
	width: 82px;
	height: 27px;
	color: #666;
	padding: 3px 0 0 0;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
    background: url(images/templatemo_button.png) no-repeat;
}

.btn_more a:hover {
	color: #333;
	text-decoration: none;
    background:	url(images/templatemo_button_hover.png) no-repeat;
}

#templatemo_wrapper_outer {
	width: 100%;
	margin: 0 auto;
	background: url(images/templatemo_wrapper.jpg) top center no-repeat;
}

#templatemo_wrapper {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#templatemo_header {
	width: 940px;
	height: 90px;
}

#templatemo_header  #site_title {
	float: left;
  text-shadow:2px 2px 4px gray;
	padding-top: 20px;
}

#templatemo_header  #site_title h1 {
	margin: 0;
	padding: 0;
}

#templatemo_header  #site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#templatemo_header  #site_title a span {
	display: block;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	margin-left: 5px;
}

/* menu */

#templatemo_menu {
	float: right;
	display: inline-block;
}

#templatemo_menu ul {
	display: inline-block;
	height: 70px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0;
	margin: 0;
	display: inline-block;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 20px;
	width: 80px;
	font-size: 14px;
	padding: 50px 0 0 20px;
	color: #0e4d6d;
	text-decoration: none;
	font-weight: bold;
	outline: none;
	background: url(images/templatemo_menu.png) top left no-repeat;
}

#templatemo_menu ul li a:hover, #templatemo_menu ul .current {
	color: #fff;
	background: url(images/templatemo_menu_hover.png) top left no-repeat;
}
/* end of menu */

#templatemo_slider {
	width: 860px;
	height: 260px;
	padding: 30px 40px;
	margin-bottom: 30px;
	background: url(images/templatemo_sp_box.png) no-repeat;
}

#templatemo_content {
	clear: both;
	width: 940px;
	margin-bottom: 30px;
}

#templatemo_content p {
	margin-bottom: 10px;
}

.col_w300 {
	float: left;
	width: 280px;
	padding-right: 20px;
	margin-right: 20px;
}

.col_w600 {
	float: left;
	width: 600px;
	padding-right: 20px;
	margin-right: 20px;
}

.col_w280 {
	width: 280px;
}

.col_w220 {
	float: left;
	width: 200px;
	padding-right: 20px;
	margin-right: 20px;
}

.col_last {
	margin-right: 0;
}

.sb_news_box {
	margin-bottom: 20px;
}

.sb_news_box img {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 15px;
	border: 2px solid #fff;
}
.sb_news_box h6 a { font-size: 14px; color: #333; }

.news_box {
	clear: both;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px dashed #fff;
}

.news_box h2 {
	color: #183544;
	margin-bottom: 10px;
}

.news_box .news_meta {
	margin-bottom: 10px;
}

.news_box img {
	float: left;
	width: 220px;
	height: 180px;
	margin-right: 30px;
	border: 1px solid #fff;
	padding: 4px;
}

.news_box_last {
	margin: 0;
	padding: 0;
	border: none;
}

.service_box {
	clear: both;
	margin-bottom: 50px;
}

.service_box img {
	float: left;
	width: 48px;
	height: 48px;
}

.service_box .sb_right {
	float: right;
	width: 520px;
}

#contact_form {
	padding: 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 270px;
	padding: 5px;
	background: #fff;
	border: 1px solid #dfdfdf;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 13px;
}

#contact_form form textarea {
	width: 266px;
	height: 140px;
	padding: 5px;
	background: #fff;
	border: 1px solid #dfdfdf;
	font-size: 12px;
	font-family: Tahoma, Geneva, sans-serif;
}
#contact_form .submit_btn {
	padding: 5px 14px;
	background: #fff;
	border: 1px solid #dfdfdf;
}

/* footer */

#templatemo_footer_wrapper {
	clear: both;
	width: 100%;
	min-height:248px;
	background: url(images/templatemo_wrapper_bottom.jpg) bottom repeat-x;
}

#templatemo_footer {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	color: #000;
	min-height: 160px;
	background: url(images/templatemo_footer.png) center repeat-y;
}

#templatemo_footer .tmo_list {
	margin-left: 0px;
}

#templatemo_footer .tmo_list li a {
	color: #000;
}

#footer_top {
	width: 960px;
	height: 10px;
	margin: 0 auto;
	background: url(images/templatemo_footer_top.png) left no-repeat;
}

/* social */

#templatemo_footer  #social_box {
	clear: both;
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

#social_box li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

#social_box li a {
	width: 24px;
	height: 24px;
	margin: 0 5px 5px 0;
	text-decoration: none;
	border: none;
}

/* end of social */

/* copyright */

#templatemo_copyright {
	clear: both;
	width: 940px;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	color: #ccc;
	background: #0a273a;
	border-top: 1px solid #fff;
}

#templatemo_copyright a {
	color: #fff;
}

/* end of copyright */
/* end of footer */